{% extends "layout.jinja2" %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block content %}
<article>
    Test Main
    <h1>
        {% if username %}
            <span>Welcome, {{ username }}!</span>
        {% else %}
            Войдите в аккаунт или зарегистрируйтесь!
        {% endif %}
    </h1>
</article>

{% endblock %}