<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Basic</title>{% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <aside class="main-sidebar">
            <nav class="sidebar-nav">
                <button class="toggle-sidebar" onclick="toggleSidebar()">☰</button>
                <ul class="sidebar-nav-list">
                    <li class="sidebar-nav-list-item">
                        <a href="/">🏠 Main page</a>
                    </li>
                </ul>
            </nav>
        </aside>

        <div class="container">
            <header class="main-header">
                <h1><a class="logo" href="/">ScreenSeat VR</a></h1>
            </header>

            <main class="content">
                {% block content %}<!-- default content text (typically empty) -->{% endblock %}
            </main>

            <footer class="main-footer">
                <p>ScreenSeat</p>
            </footer>
        </div>

        <script src="{{ url_for('static', path='js/script.js') }}"></script>
    </body>
</html>