{% extends "base.html" %}

{% block title %}Bookings{% endblock %}

{% block content %}
<h1>My Bookings</h1>
    {% if request.state.email %}
        {% if bookings %}
            <ul class="bookings-list">
                {% for booking in bookings %}
                    <li class="bookings-list-item">
                        <a href="/bookings/{{ booking.id }}">
                            <div class="booking-header">
                                <strong>{{ booking.session.film.title }}</strong> <br>
                                <p class="publication-date"> Session Date: {{ booking.session.datetime }}</p>
                            </div>
                            <div class="booking-details">
                                <p class="reservations-amount"> Amount of Reservations: {{ booking.reservations_amount }}</p>
                                <span class="booking-status">Status: {{ booking.status }}</span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No bookings at this moment.</p>
        {% endif %}
    {% else %}
        <p>Login to see your bookings</p>
        <div class="auth-links">
            <a href="/auth/login" class="btn btn-primary">Login</a>
            <a href="/auth/register" class="btn btn-secondary">Register</a>
        </div>
    {% endif %}
{% endblock %}
