{% extends "base.html" %}

{% block title %}{{ film.title }}{% endblock %}

{% block content %}
<h1>{{ film.title }}</h1>
{% if film %}
    <div class="film-detail">
        {% if film.image_url %}
            <div class="film-image">
                <img src="/static/{{film.image_url}}" alt="{{ film.title }}" width="300px" height="450px">
            </div>
        {% else %}
            <div class="placeholder">🎥 Film Image</div>
        {% endif %}
        <div class="film-info">
            <p>{{ film.description }}</p>
            <h2>Film Sessions</h2>
            <ul class="session-list">
                {% if film.sessions %}
                    {% for session in film.sessions %}
                        <li class="{% if session.status == 'canceled' or session.status == 'completed' %}disabled{% endif %}">
                            <a href="{{ url_for('read_session', session_id=session.id) }}">
                                <p>{{ session.datetime }} - {{ session.price }} - {{ session.reserved_seats}}/{{session.capacity}} - {{ session.status }}</p>
                            </a>
                            {% if request.state.is_admin %}
                            <form action="{{ url_for('change_session_status', session_id=session.id, new_status='canceled') }}" method="post">
                                <button type="submit" class="btn btn-primary">Cancel</button>
                            </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <p>No sessions at this moment.</p>
                {% endif %}

                {% if request.state.is_admin %}
                    <li>
                        <form action="{{ url_for('create_session') }}" method="post">
                            <input type="hidden" name="film_id" value="{{ film.id }}">
                            <div>
                                <label for="date">Date:</label>
                                <input type="date" id="date" name="date" required>
                            </div>
                            <div>
                                <label for="time">Time:</label>
                                <input type="time" id="time" name="time" required>
                            </div>
                            <div>
                                <label for="price">Price:</label>
                                <input type="number" id="price" name="price" step="0.01" required>
                            </div>
                            <div>
                                <label for="capacity">Capacity:</label>
                                <input type="number" id="capacity" name="capacity" step="1" required>
                            </div>
                            <div>
                                <label for="auto_booking">Auto Booking:</label>
                                <input type="checkbox" id="auto_booking" name="auto_booking" value="true">
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% else %}
    <p>This film does not exist.</p>
{% endif %}
{% endblock %}
