{% extends "base.html" %}

{% block title %}Make a Payment{% endblock %}

{% block content %}
<h1>Payment for Booking</h1>

<form id="payment-form">
    <div id="card-element"></div>
    <button id="submit" class="btn btn-primary">Pay</button>
    <div id="payment-message" class="hidden"></div>
</form>

<script src="https://js.stripe.com/v3/"></script>
<script>
    const stripe = Stripe("pk_test_51PRaGf2LrIIHkntSxgGprZaAHsbNLnIP5AYw1O9B8CTaufp5fyDM0ep0ymDXlwbVCtj6BQ4NzZrbjm99Nk47dje200OkUEhESd");

    const elements = stripe.elements();
    const cardElement = elements.create("card");
    cardElement.mount("#card-element");

    const form = document.getElementById("payment-form");
    const paymentMessage = document.getElementById("payment-message");
    const clientSecret = "{{ client_secret }}";

    form.addEventListener("submit", async (event) => {
        event.preventDefault();
        
        const { error, paymentIntent } = await stripe.confirmCardPayment(clientSecret, {
            payment_method: {
                card: cardElement,
            },
        });

        if (error) {
            paymentMessage.textContent = error.message;
            paymentMessage.classList.remove("hidden");
        } else {
            paymentMessage.textContent = "Payment successful!";
            paymentMessage.classList.remove("hidden");
            window.location.href = "/sessions/{{ booking.session_id }}";
        }
    });
</script>
{% endblock %}
